[tool.poetry]
name = "chaine"
version = "1.1.2"
description = "Linear-chain conditional random fields for natural language processing"
authors = ["Severin Simmler <severin.simmler@posteo.de>"]
readme = "README.md"
build = "build.py"

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
isort = "^5.6.4"
pytest = "^6.1.2"
cython = "^0.29.21"

[tool.isort]
line_length = 88
use_parentheses = true
include_trailing_comma = true
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools", "wheel", "cython"]
build-backend = "poetry.core.masonry.api"
